DB_ENGINE=postgres
PORT=3000
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=characters_db
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
MONGO_URI=mongodb://root:example@localhost:27017/
MONGO_DB=characters
